

@foreach (var s in Model.Students)
{
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <img src="@s.Image" width="150" height="150"/>
            <h4 class="card-title">Имя: @s.Name</h4>
            <h4 class="card-title">Возраст: @s.Age</h4>
            <h4 class="card-title">Группа: @s.Group</h4>
        </div>
    </div>
    <br />
    <br />
}